.navbar {
    font-size: 12px;
    min-height:25px;
    margin-bottom: 0px;
}

.navbar-brand {
    float: left;
    font-size: 12px;
    height: 30px;
    line-height: 20px;
    padding: 7px;
}


.navbar-nav > li > a {
    padding-bottom: 7px;
    padding-top: 7px;
}

.navbar-form {
    margin-bottom: 0px;
    margin-top: 3px;
}

.form-control {
    padding-bottom: 3px;
    padding-top: 3px;
    height: 50%;
}

#mapDetail {
    border: 2px solid #cc0000;
}

.thumbnail-map {
    height: 75px;
}

.map-row {
    font-size: 75%;
}

.pagination {
    border-radius: 4px;
    display: inline-block;
    margin: 5px 0;
    padding-left: 0;
    font-size: 12px;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
/*  .container {
    max-width: 730px; 
  } */

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 20px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
