<div class="container-fluid">
  <div class="row">
    <div class="col-md-7">
      <div id="map" ngeo-map="mapsCtrl.map"></div>
      <div ubr-geo-year-range-slider="mapsCtrl.mapsPerYear"
           ubr-geo-year-range-slider-options ="mapsCtrl.sliderOptions"
           ubr-geo-year-range-slider-extent ="mapsCtrl.yearExtent"
           class="year-range-slider">
      </div>  
    </div>
    <div class="col-md-5">
      <table class="table table-condensed table-hover">
        <thead> 
          <tr>
            <td colspan="2">
              <div class="text-right">Karten: {{mapsCtrl.totalMaps}} Seite: {{mapsCtrl.page}}/{{mapsCtrl.numPages}}</div>
            </td>    
          </tr>  
        </thead>
        <tfoot>
          <tr>
            <td colspan="2" class="text-center">
              <uib-pagination 
                ng-model="mapsCtrl.page" 
                total-items="mapsCtrl.totalMaps"
                max-size = 6
                items-per-page = 5
                num-pages="mapsCtrl.numPages"
                ng-change="mapsCtrl.pageChanged()" >
              </uib-pagination>
            </td>    
          </tr>    
        </tfoot>    
        <tbody ng-mouseleave="leave()">    
        <tr ng-repeat="map in mapsCtrl.maps" ng-mouseenter="mapsCtrl.hover(map)" ng-click="mapsCtrl.open(map)">
            <td><img class="thumbnail-map" ng-src="{{map.icon}}"/></td>
            <td class="map-row">{{map.isbd}} </td>  
        </tr>
        </tbody>  
      </table>  
    </div>    
  </div>
</div>  
